{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    ["module-alias", [
      { "src": "test/__mocks__/", "expose": "mocks" },
    ]]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "babel-plugin-dev-expression",
				"transform-class-properties"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "webpack.config.node.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
