.root {
  height: 100%;
  background-color: white;
  :global {
    .ReactCodeMirror {
      overflow: hidden;
      height: 100%;
    }
    .CodeMirror {
      height: 100%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  position: relative;
  height: 100%;

  :global {
    .CodeMirrorField {
      height: calc(100% - 34px);
    }
    .ClearSubmitButtons{
    }
  }
}
