{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    },
    "test": {
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "webpack/config.babel.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
