{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    }
  }
}
