{
  "extends": "airbnb-base",
  "installedESLint": true,
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "max-statements-per-line": ["warn", { "max": 1 }],
    "complexity": ["warn", 15],
    "max-statements": ["warn", 100],
    "max-depth": ["warn", 7],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
