extends layout



block content
  script(src="/socket.io/socket.io.js")
  script(type='text/javascript').
    var socket = io.connect('http://localhost:1337');
    var subscrId = 1;
    socket.on('message', function(message) {
        $("#ui").append("<h1>"+message+"</h1>");
    })
    socket.on(subscrId, function(message) {
        $("#ui").append("<h1>"+message+"</h1>");
    })
  div(id="ui")
    p Welcome to #{title}
  
