<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Parameter View</title>

    <script type="text/javascript" src="../public/javascripts/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://localhost:1337');
      var firstLineId;
      socket.on('message', function(message) {
        console.log(`ParameterView ${message}`);
        document.getElementById("message").innerHTML = "<h1>"+message+"</h1>";
      })
      socket.on('Parameters', function(message) {
        document.getElementById("ui").innerHTML = "<tr> <td>"+message.onboardDate+"</td><td>"+message.extractedValue+"</td><td>"+message.rawValue+"</td><td>"+message.convertedValue+"</td></tr>";
      })
    </script>
  </head>
  <body>
    <div id="message" class="top"></div>
    <div class="container">
      <div class="content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>onboard Date</th>
              <th>Extracted Value</th>
              <th>Raw Value</th>
              <th>Converted Value</th>
            </tr>
          </thead>
          <tbody id="ui"></tbody>
        </table>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>