target
__pycache__
*.settings
*.project
*.pydevproject
*.classpath
*~
node_modules
*.idea
*.pyc
*ECLIPSE_ACCELEO
GPCCHS_E_VIS/src/client/src/main/js/client/core\.5338

GPCCHS_E_VIS/src/client/src/main/js/client/core\.5302

GPCCHS_E_VIS/src/client/src/main/js/client/core\.5318
