.obj {
  margin: 0.5;
  font-size: 2.0rem;
  font-weight: bold;
  letter-spacing: -.025em;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.header, .footer {
    padding: 1em;
    color: #999;
    background-color: #eee;
    clear: left;
    text-align: center;
    margin-bottom: 30px;
}
:root {
  --light: rgba(255, 255, 255, 0.1);
}

.monit-ok {
  color: var(--monit-ok);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-ok),
               0 0 30px var(--monit-ok),
               0 0 40px var(--monit-ok),
               0 0 55px var(--monit-ok),
               0 0 75px var(--monit-ok);
}

.monit-info {
  color: var(--monit-info);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-info),
               0 0 30px var(--monit-info),
               0 0 40px var(--monit-info),
               0 0 55px var(--monit-info),
               0 0 75px var(--monit-info);
}

.monit-warning {
  color: var(--monit-warning);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-warning),
               0 0 30px var(--monit-warning),
               0 0 40px var(--monit-warning),
               0 0 55px var(--monit-warning),
               0 0 75px var(--monit-warning);
}

.monit-alarm {
  color: var(--monit-alarm);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-alarm),
               0 0 30px var(--monit-alarm),
               0 0 40px var(--monit-alarm),
               0 0 55px var(--monit-alarm),
               0 0 75px var(--monit-alarm);
}

.monit-servere {
  color: var(--monit-severe);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-severe),
               0 0 30px var(--monit-severe),
               0 0 40px var(--monit-severe),
               0 0 55px var(--monit-severe),
               0 0 75px var(--monit-severe);
}

.monit-critical {
  color: var(--monit-critical);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-critical),
               0 0 30px var(--monit-critical),
               0 0 40px var(--monit-critical),
               0 0 55px var(--monit-critical),
               0 0 75px var(--monit-critical);
}

.monit-outOfRange {
  color: var(--monit-outOfRange);
  text-shadow: 0 0 5px var(--light),
               0 0 10px var(--light),
               0 0 20px var(--monit-outOfRange),
               0 0 30px var(--monit-outOfRange),
               0 0 40px var(--monit-outOfRange),
               0 0 55px var(--monit-outOfRange),
               0 0 75px var(--monit-outOfRange);
}
