.navbar{
  background-color:white;
};

.navItem{
  background-color:#F1F1F1;
  border: none;
}

.navItem a{
  background-color:#F1F1F1 !important;
  color:#337ab7;
  border-radius:none !important;
  border:none !important;
  margin-bottom:1px;
}

.navItem a:hover{
  color:#23527c;
  border:none !important;
  cursor:default;
}

.itemActif{
  background-color:#FFF !important;
  border:none !important;
  margin-bottom:1px;
}

.itemActif a{
  background-color:#FFF !important;
  color:#333;
}

.itemActif a:hover{
  background-color:#FFF !important;
  color:#333;
}

.close{
  float:right !important;
  color:#EEE;
}

.close:hover{
  background-color:#333;
}