{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "babel-plugin-lodash"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "babel-plugin-dev-expression",
		    "transform-class-properties"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
