{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
  	"babel-plugin-add-module-exports",
	"babel-plugin-lodash"
  ],
  "env": {
    "test": {},
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
		"transform-class-properties"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
