{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
  	"babel-plugin-add-module-exports"
  ],
  "env": {
    "test": {},
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
		    "babel-plugin-lodash"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ],
  	  "plugins": [
  		  "babel-plugin-lodash"
  	  ]
    }
  }
}
