{
  "extends": [
    "airbnb",
    "plugin:react-perf/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "jest": true,
    "describe": true,
    "beforeAll": true,
    "afterAll": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "max-statements-per-line": ["warn", { "max": 1 }],
    "complexity": ["warn", 15],
    "max-statements": ["warn", 100],
    "max-depth": ["warn", 7],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "max-len": ["error", 100, 2, {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "peerDependencies": true }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react-perf/jsx-no-new-array-as-prop": ["warn"],
    "react-perf/jsx-no-new-object-as-prop": ["warn"],
    "react-perf/jsx-no-new-function-as-prop": ["warn"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": ["warn"],
    "react/no-unused-prop-types": ["warn", { "customValidators": [], "skipShapeProps": true }],
    "react/no-array-index-key": ["warn"],
    "consistent-return": ["warn"],
    "react/forbid-prop-types": ["warn"],
    "jsx-a11y/no-static-element-interactions": ["warn"],
    "react/prefer-stateless-function": ["warn"],
    "react/jsx-no-bind": ["warn"],
    "no-unused-expressions": ["warn"],
    "space-in-parens": ["warn"],
    "space-before-blocks": ["warn"],
    "no-restricted-syntax": ["warn"]
  },
  "plugins": [
    "import",
    "react",
    "react-perf"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/config.eslint.js"
      }
    }
  }
}
