.errorpage_background {
  background-color:white;
  width: 900px;
  height: 1400px;
  min-width: 100%;
  margin-bottom: 50vh;
  position: absolute;
}
.errorpage_transbox{
  background-color: darkgray;
  margin: 300px;
  border: 1px solid black;
  opacity: 0.2;
  -webkit-transform:rotate(-350deg);
}
.errorpage_transbox  p{
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: red;
}
